<%- include("header"); -%>

    
    <div class="butter">
            
    </div>
    <div class="ingre">
        <h2>Ingredients of Butter Chicken</h2>
        <ul>
            <li>Raw Chicken</li>
            <li>2 tsp Red Chilli Powder</li>
            <li>2 tsp Ginger-Garlic paste</li>
            <li>2 tsp Salt</li>
            <li>2 tsp Lemon Juice</li>
            <li>1/2 cup Curd</li>
            <li>1/2 tsp Garam Masala</li>
            <li>1 tsp Kasuri Methi</li>
            <li>2 tsp Mustard Oil</li>
            
        </ul>

    </div>

    <h2>Method</h2>
    <div class="proc">
        <ol>
            <li> In a mixing bowl, put raw chicken pieces and add salt, red chilli powder, ginger garlic paste and lemon juice. Mix well.</li>
            <li> Refrigerate for about 15-20 minutes.Butter Chicken.</li>
            <li> Now add curd to the refrigerated mix. Followed by salt, ginger garlic paste, red chilli powder, garam masala, kasuri methi and mustard oil. Mix well and refrigerate again for an hour.</li>
            <li> Roast the marinated chicken in an oven for about 30 minutes until it is three-fourth done.</li>




        </ol>
    </div>
    <%- include("footer"); -%>